<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      />
    <title>Top 10</title>
    <link rel="stylesheet" href="/static/styles/bootstrap/css/bootstrap.min.css"
      />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap"
      />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap"
      />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap"
      />
    <link rel="stylesheet" href="/static/styles/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/styles/css/Bootstrap-Gradient.css" />
    <link rel="stylesheet" href="/static/styles/css/dropdown-search-bs4.css" />
    <link
      rel="stylesheet"
      href="/static/styles/css/Footer-with-social-media-icons.css"
      />
    <link rel="stylesheet" href="/static/styles/css/gradient-navbar-styles.css"
      />
    <link rel="stylesheet" href="/static/styles/css/gradient-navbar.css" />
    <link rel="stylesheet" href="/static/styles/css/Hover-cards.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
      />
    <link rel="stylesheet" href="/static/styles/css/Section-Title.css" />
    <link rel="stylesheet" href="/static/styles/css/Simple-sticky-navbar.css" />
    <link rel="stylesheet" href="/static/styles/css/Social-Icon-Circle.css" />
    <link rel="stylesheet" href="/static/styles/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      const baseURL = "/api/months/"
      function loadFromApi(endpoint) {
        const cardsContainer = document.getElementById("cards-container");
        const cardHtml = (card) => {
          return `
          <a href="${card.repo_url}" target="_blank">
            <div class="card card1">
              <div class="card-body">
                <h3 class="card-title">${card.title}</h3>
                <p class="card-text small">
                  ${card.desc}
                </p>
                <p class="card-text small">
                  Tech stack: ${card.techstacks.join(", ")}
                </p>
                <div class="go-corner">
                  <div class="go-arrow"></div>
                </div>
              </div>
            </div>
          </a>`;
        };
        // Clear all old cards
        cardsContainer.innerHTML = "";
        fetch(baseURL + endpoint)
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            console.log(data)
            if (data.hackathons.length == 0) cardsContainer.innerHTML = "No hackathons found"
            cardsContainer.innerHTML = "";
            data.hackathons.forEach((item) => {
              cardsContainer.innerHTML += cardHtml(item);
            });
          });
      }
  </script>
  </head>

  <body class="align-self-center mx-auto">
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
      <a class="navbar-brand" href="#"></a><button
        data-bs-toggle="collapse"
        class="navbar-toggler"
        data-bs-target="#navcol-1">
        <span class="visually-hidden">Toggle navigation</span><span
          class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse inline-flex w-full"
        data-bss-hover-animate="bounce"
        id="navcol-1">
        <ul class="navbar-nav" style="width: 10px">
          <li class="nav-item" data-bss-hover-animate="swing"></li>
          <li class="nav-item" data-bss-hover-animate="swing"></li>
          <li class="nav-item" data-bss-hover-animate="swing"></li>
          <li class="nav-item"></li>
          <li class="nav-item"></li>
        </ul>
        <img width="80" height="79" src="/static/styles/img/logo.png" />
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="../months"
              style="margin-left: 24px; padding-left: 9px; margin-right: 26px">Monthly
              Top 10</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="../domains"
              style="margin-left: 12px; margin-right: 11px">Domains Top 10</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="../themes"
              style="padding-right: 0px; margin-left: 7px; margin-right: 17px">Theme
              Top 10</a>
          </li>
        </ul>

        <button
          class="btn btn-primary"
          type="button"
          style="width: 100px;
          color: var(--bs-gray-100);
          background: var(--bs-cyan);
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;">
          Contact Us
        </button>
      </div>
    </nav>
    <div
      class="d-table gradient"
      style="height: 70px;
      width: 100%;
      color: white;
      padding: 23px;
      text-align: center;">
      <p class="lead fs-2 text-center text-white">
        <strong>Top 10 Monthly Dev Projects</strong>
      </p>
    </div>
    <div style="height: 50px">
      <div class="btn-toolbar flex items-center justify-center mt-4">
        <div class="btn-group mr-2" role="group">
          <button
            class="btn btn-primary"
            type="button"
            style="background: rgb(13, 224, 253)"
            onclick="loadFromApi('202206')">
            June 2022</button><button
            class="btn btn-primary"
            type="button"
            style="background: rgb(13, 210, 253)"
            onclick="loadFromApi('202207')">

            July 2022
          </button>
        </div>
        <div class="btn-group" role="group">
          <button
            class="btn btn-primary"
            type="button"
            style="background: rgb(13, 224, 253)"
            onclick="loadFromApi('202208')">
            August 2022</button><button
            class="btn btn-primary"
            type="button"
            style="background: rgb(13, 224, 253)"
            onclick="loadFromApi('202209')">
            September 2022
          </button>
        </div>
      </div>
    </div>
    <p></p>
    <div></div>
    <p></p>
    <div class="flex flex-shrink-0 flex flex-wrap" style="height: 920px"
      id="cards-container">
    </div>
    <div class="container" style="height: 50px">
      <footer id="footerpad" style="width: 992px; height: 162px">
        <div class="container">
          <div class="row" style="width: 980.4px">
            <div class="col-md-6 col-lg-8 mx-auto">
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="#"><span class="fa-stack fa-lg"><i class="fa
                        fa-circle fa-stack-2x"></i><i
                        class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="fa-stack fa-lg"><i class="fa
                        fa-circle fa-stack-2x"></i><i
                        class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="fa-stack fa-lg"><i class="fa
                        fa-circle fa-stack-2x"></i><i
                        class="fa fa-instagram fa-stack-1x fa-inverse"
                        style="font-size: 24px"></i></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="fa-stack fa-lg"><i class="fa
                        fa-circle fa-stack-2x"></i><i
                        class="fa fa-github fa-stack-1x fa-inverse"
                        style="font-size: 24px"></i></span></a>
                </li>
              </ul>
              <p class="copyright text-muted text-center">
                Copyright © Hack-A-Thors 2022 | Web Design by Hack-A-Thors Team
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/static/styles/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/styles/js/js/bs-init.js"></script>
    <script src="/static/styles/js/js/dropdown-search-bs4.js"></script>
  </body>
</html>
